
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&subset=greek');

html,body, .logo, h1, h2,h3,h4,h5{
	font-family: 'Roboto Condensed'!important;
}
.btn-custom {

	font-size: 10px;
	padding: 5px 10px;
	margin-left: 47%;
	margin-top: 3px;



}

.equal {
  display: flex;
  display: -webkit-flex;
}

.content-wrapper{
	margin-top:-20px!important;
}
.user-panel>.image>img{
	height: 45px;
}

.skin-green .main-header .navbar {
  background-color: #014c2a !important;
}

.skin-green .main-header .logo{
  background-color: #222d32 !important;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

td {
	border-top: 0px!important;
}

.searchfield {
  width: 300px!important;
	float:right!important;
}

.btn-searchclear {
	margin-left: 20px;
}

.pagination {
	margin: 0px;
	margin-left: 10px;

}
.main-footer {
bottom: 0;
left: 0;
position: fixed;
padding: 5px;
right: 0;
z-index: 999;
}

.dropdown.open > a, .dropdown.messages-menu.open > a
{
	background-color: rgb(250,250,250)!important;
	color: black!important;
}

.pagination>li>a, .pagination>li>span {
	padding: 5px 10px!important;
}


.select2-container--default .select2-selection--single{
	border-radius: 0px !important;
	border: 1px solid #d2d6de!important;
	height: 35px;
}
